
<div class="form-container">
<form class="card" action="/cargar-articulo">
  <div>
    <p class="titulo">Login</p>
  </div>
  <div>
    <div class="entrada mb-3">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Correo Electrónico"
      />
    </div>
    <div class="entrada mb-3">
      <i class="fa-solid fa-key"></i>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Contraseña"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div id="emailHelp" class="form-text">
      Al registrarse, aceptas nuestras Condiciones de uso y Política de
      privacidad.
      <br />
      ¿No tienes una cuenta? <a href="/registro">Regístrate</a>
    </div>
  </div>
</form>
